

.questiontext {
    padding: 20px;
    color: #efefef;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}